<div class="row">
  <div class="col-md-6">
    <div class="card">
      <%= form_with(model: test_suite, local: true) do |form| %>
        <% if test_suite.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(test_suite.errors.count, "error") %> prohibited this test_suite from being saved:</h2>

            <ul>
            <% test_suite.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="card-header">
          <h4 class="card-title">
            Suite
          </h4>
        </div>
        <div class="card-body">
          <%= form.label :name %>
          <div class="form-group">
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <%= form.label :description %>
          <div class="form-group">
            <%= form.text_field :description, class: 'form-control' %>
          </div>

          <%= form.label :base_url %>
          <div class="form-group">
            <%= form.text_field :base_url, class: 'form-control' %>
          </div>

          <%= form.label :viewport %>
          <div class="form-group">
            <%= form.number_field :viewport, class: 'form-control' %>
          </div>

        </div>
        <div class="card-footer">
          <%= form.submit class: 'btn btn-fill btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
