<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Suites</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter" id="simple-table">
              <thead class="text-primary">
                <tr>
                  <th class="header">Name</th>
                  <th class="header">Description</th>
                  <th class="header">Base Url</th>
                  <th class="header">Viewport</th>
                  <th class="header">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @test_suites.each do |test_suite| %>
                  <tr>
                    <td><%= test_suite.name %></td>
                    <td><%= test_suite.description %></td>
                    <td><%= test_suite.base_url %></td>
                    <td><%= test_suite.viewport %></td>
                    <td>
                      <%= link_to 'Show', test_suite %> |&nbsp;
                      <%= link_to 'Edit', edit_test_suite_path(test_suite) %> |&nbsp;
                      <%= link_to 'Destroy', test_suite, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'New Test Suite', new_test_suite_path %>
        </div>
      </div>
    </div>
  </div>
</div>
